<% @title = "Welcome to Battleships!" %>

<h1>Welcome to Battleships!</h1>

<p>What's your name?</p>

<form action="/new" method="post">
Name: <input type="text" name="Name">
<button type="submit" name="Submit">Submit</button>
</form>