<% @title = "Welcome to Battleships!" %>

<h1>Welcome to Battleships!</h1>

<h2>Current number of players: <%=@currentplayers%></h2>
<p>(<b><a href="/boot">Reset game</b></a>)<small> Be nice</small></p>

<p>What's your name?</p>

<form action="/new" method="post">
Name: <input type="text" name="Name">
<button type="submit" name="Submit">Submit</button>
</form>